/*the clearfix*/
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.site-container{
	/*background:url("../map.jpg");*/
	width:1069px;
	height:1561px;
	margin: 0 auto;
}
.header-wrapper{
	background:#594e4e;
	/*background:url("../images/header-bg.png");*/
	font-family:Arial, Helvetica, sans-serif;
}
.logo{
	margin: 30px 0px 0px 30px;
	width:221px;
	height: 87px;
}

.search-container{
	padding-top: 15px;
}
.search-container .search-box{
	height: 26px;
	width:214px;
}
.search-container .search-icon{
	background: url("../images/search-icon.png");
	height: 51px;
	width:63px; 
	border:0;
}
.slider-wrapper{
	height: 200px;
	background-color: #a49191;
	margin-top: -6px;
	padding-left: 30px;
	padding-top: 20px;
}
.slider-container{
		height: 190px;
		position: relative;
		width: 1010px;
		overflow: hidden;		
}
.slider-container ul{
	list-style: none;
	width:10000px;
}
.slider-container ul li{
	float:left;
}
.slider-container #left-inactive{
	left: 8px;
	position: absolute;
	top:32px;
}
.slider-container #right-inactive{
	left: 86px;
	position: absolute;
	top:32px;
}
.slider-container .desc-bg{
	height: 70px;
	background:url("../images/slider-desc-bg.png");
	width: 100%;
	line-height: 70px;
	position: absolute;
	top: 122px;
	left:0px;
	color: #fff;
	font-size: 36px;
}
.slider-container .desc-bg p{
	position: absolute;
	left:-300px;
	margin-left: 22px;
}
.body-container{
	font-family:Verdana, Geneva, sans-serif;
	height:658px;
	background-color: white;
}
.company-profile{
	margin: 24px 30px;
	height: 174px;

}
.company-info{
	margin-left: 25px;
	float left;
	width: 532px;
	display: inline-block;
}
.company-info p{
	padding-top: 7px;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 24px;
	color: #7f7f7f;
}.company-info a{
	color: white;
	text-decoration: none;
	line-height: 24px;
	background-color: #338695;
	padding:8px;
}
.shopping-guide{
	float: right;
}
.tab-group{
	clear: both;
	height: 428px;
	background-color: black;
}
.footer-container{
	/*height:318px;*/
}
.footer-upper{
	background:url("../images/footer-bg.png") repeat-x;
	border-top: 1px solid #b2b2b2;
	padding-top: 40px;
	padding-left:60px;
	padding-right: 30px;
}
.footer-upper hr{
	height: 2px;
	background-color: #3794a5;
	margin: 22px 0px;
}
.footer-upper ul{
	font-size: 10px;
	list-style: none;
}
.footer-upper ul li{
	float: left;
	width: 222px;
	margin-right: 22px;
	margin-bottom: 22px;
}
.footer-upper ul li img{
	float: left;
	margin-right: 16px;
}
.footer-upper ul li h1{
	font-size: 10px;
	margin-bottom: 8px;
	margin-left: 44px;
}
.footer-upper ul li p{
	margin-left: 44px;
	line-height: 18px;
	font-size: 12px;
	color: #666666;
}
.footer-mid{
	line-height: 30px;
	padding: 0px 30px 0px 60px;
}
.footer-mid ul{
	list-style: none;
}
.footer-mid ul li{
	display: inline;
}
.footer-mid ul li a{
	text-decoration: none;
	color: #666666;
}
.footer-mid ul li a:hover{
	color:#2d8696;
}
.footer-mid ul li .seperator{
	background: url("../images/footer-mid-seperator.png");
	padding: 1px;
	height:20px;
	margin: 0px 10px;
}
.footer-lower{
	border-top: 2px solid #dbdbdb;
	padding: 18px 30px 0px 70px;
	font-size: 12px;
	background: url("../images/lower-footer-bg.png") repeat-x;
	height: 140px;
}
.footer-lower .countries{
	/*margin-left: 40px;*/
}
.footer-lower .countries ul{
	list-style: none;
}
.footer-lower .countries ul li{
	display: block;
	line-height: 20px;
}
.footer-lower .countries ul li a{
	text-decoration: none;
	color: #bea4a4;
}
.footer-lower ul{
	list-style: none;
}
.footer-lower ul li{
	float: left;
}
.footer-lower .links{
	float: right;
}
.footer-lower .links ul li a{
	text-decoration: none;
	color: #4c4c4c;
}
.footer-lower .links ul li .seperator{
	padding: 1px;
	height: 15px;
	background: url("../images/footer-mid-seperator.png");
	margin: 0px 10px;
}
.footer-container .copyright{
	clear:both;
	float: right;
}
/*detail page layout*/