/*menu css*/
.menu{
	margin-top: 36px;
	float:left;
}
.menu ul{
	list-style: none;
}
.menu ul li{
	float:left;
	display:block;
	font-size: 17px;
	height:80px;
	text-align: center;
}
.menu ul li:hover{
	background: #5a93e9;
}
.menu ul li a{
	text-decoration: none;
	color: #fff;
	background:#a49191;
	display: block;
	line-height: 50px;
	padding: 0 16px;
	margin:15px 0px;
}
.menu ul li:hover a{
	background: #5a93e9;
}
.menu ul li.active{
	background: #5a93e9;
}
.menu ul li.active a {
	background: #5a93e9;
}
.menu ul li ul{
	display:none;
	position:absolute;
	background:#594e4e;
	margin:-6px 0px 0px 0px;
	z-index:10;
	padding:2px 0px 4px 0px;
}
.menu ul li ul li{
	float: none;
	height: 28px;
}
.menu ul li ul li a{
	background: #5a93e9;
	line-height: 28px;
	padding: 0 0 0 10px;
	margin:2px 0;
	min-width:176px;
	text-align:left;
	display:block;
	text-decoration:none;
	color:white;
}
.menu ul li:hover ul{
	display:block;
}

.menu ul li:hover ul li{
	background: none;
	margin:0;
	padding:0;
	line-height: 28px;
}
.menu ul li:hover ul li a{
	background: #5a93e9;
	margin:0;
	padding:0;
	line-height: 28px;
}
.menu ul li:hover ul li a{
	line-height: 28px;
	padding: 0 0 0 10px;
	margin:2px 0;
}